:deep(.ProseMirror) {
  code {
    @apply font-mono bg-truegray-100 color-truegray-600 rounded-custom p-x-1;
  }
}

.control {
  @apply w-full;
}

:deep(.wysiwyg) {
  @apply outline-none fit;

  p.is-empty:first-child::before {
    content: attr(data-placeholder);

    @apply color-gray-500 dark: color-gray-400 float-left h-0
      pointer-events-none;
  }

  [data-type='mention'] {
    @apply italic;
  }
}

:deep(.ProseMirror-selectednode) {
  @apply outline-2 outline-solid outline-primary rounded-custom;
}

:deep([data-type='details']) {
  @apply flex border-1 border-ca rounded-custom p-2;
  list-style: none;

  &.is-open summary {
    @apply p-b-2;
  }

  > button {
    @apply relative h-6 w-6 cursor-pointer;

    &::before {
      @apply absolute flex flex-center leading-none top-1 left-1 font-rem-16 transition-transform;
      content: '\25B6';
    }
  }

  &.is-open > button::before {
    @apply rotate-90;
  }

  > div {
    flex: 1 1 auto;
  }

  :last-child {
    margin-bottom: 0;
  }
}

:deep(ul[data-type='taskList']) {
  list-style: none;
  padding: 0;

  p {
    margin: 0;
  }

  li {
    @apply flex;

    > label {
      @apply shrink-0 select-none m-r-2 m-t-2px;

      input {
        @apply min-w-4;
      }
    }

    > div {
      flex: 1 1 auto;
    }

    ul li,
    ol li {
      display: list-item;
    }

    ul[data-type='taskList'] > li {
      display: flex;
    }
  }
}