:deep(.ProseMirror) {
  code {
    // @apply font-mono bg-truegray-100 color-truegray-600 rounded-custom p-x-1;
    // @apply color-red;
  }
}

.control {
  @apply w-full;
}

:deep(.wysiwyg) {
  @apply outline-none fit font-rem-14;

  p.is-empty:first-child::before {
    content: attr(data-placeholder);

    @apply color-gray-500 dark: color-gray-400 float-left h-0
      pointer-events-none;
  }

  [data-type='mention'] {
    @apply italic;
  }

  // p:not(:last-child) {
  //   @apply m-b-2;
  // }

  li > p:first-child {
    @apply m-b-0;
  }

  // li:first-child {
  //   @apply p-t-1;
  // }

  li:last-child {
    @apply p-b-2;
  }

  > *:first-child {
    @apply m-t-0;
  }

  h1 {
    @apply text-3xl relative;

    &::before {
      @apply content-empty absolute top-0 left--2 w-1 h-full bg-tertiary rounded-custom;
    }
  }

  h2 {
    @apply text-2xl relative;

    &::before {
      @apply content-empty absolute top-0 left--2 w-1 h-full bg-tertiary rounded-custom;
    }
  }

  h3 {
    @apply m-t-4 m-b-2 text-xl;
  }

  h4 {
    @apply text-lg;
  }

  &.resize-cursor {
    @apply cursor-col-resize;
  }
}

:deep(.ProseMirror-selectednode) {
  @apply outline-2 outline-solid outline-primary rounded-custom;
}

:deep(table) {
  @apply border-collapse table-fixed overflow-hidden;

  &.separator-both {
    td,
    th {
      @apply border-1;
    }
  }

  &.separator-rows {
    td,
    th {
      @apply border-y-1;
    }
  }

  &.separator-cols {
    td,
    th {
      @apply border-x-1;
    }
  }

  td,
  th {
    @apply relative border-ca box-border min-w-4 p-x-2 p-y-1 align-top;
    // @apply border-1;

    > * {
      @apply m-b-0;
    }
  }

  th {
    @apply bg-primary color-white font-semibold text-left;
  }

  .selectedCell:after {
    @apply absolute content-empty inset-0 pointer-events-none z-2;
    @apply bg-truegray-500/25 dark:bg-truegray-800/25;
  }

  .column-resize-handle {
    @apply absolute bg-secondary pointer-events-none w-1 z-2;

    bottom: -2px;
    right: -2px;
    top: 0;
  }
}

:deep(.wysiwyg-table),
:deep(.tableWrapper) {
  @apply overflow-x-auto w-full max-w-full;
}

// Details
:deep([data-type='details']) {
  @apply flex border-1 border-ca rounded-custom p-2;
  list-style: none;

  &.is-open summary {
    @apply p-b-2;
  }

  > button {
    @apply relative h-6 w-6 cursor-pointer shrink-0;

    &::before {
      @apply absolute flex flex-center leading-none top-1 left-1 font-rem-16 transition-transform;
      content: '\25B6';
    }
  }

  &.is-open > button::before {
    @apply rotate-90;
  }

  > div {
    flex: 1 1 auto;
  }

  :last-child {
    margin-bottom: 0;
  }
}

// Task list
:deep(ul[data-type='taskList']) {
  list-style: none;
  padding: 0;

  p {
    margin: 0;
  }

  li {
    @apply flex;

    > label {
      @apply shrink-0 select-none m-r-2 m-t-2px;

      input {
        @apply min-w-4;
      }
    }

    > div {
      flex: 1 1 auto;
    }

    ul li,
    ol li {
      display: list-item;
    }

    ul[data-type='taskList'] > li {
      display: flex;
    }
  }
}
